.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}

.navbar-brand img{
  width: 120px;height: 50px;
}
/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar.active img{
  content:url("logo_transparent.png");
  width:49px;
  height: 50px;
}

.navbar.active .hover-1 {
    color: #555;
}
.navbar.active .hover-1:before{
  background:#555;
}
.navbar.active .hover-1:hover,
.navbar.active .hover-1:focus {
    color: #555;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }
    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}


.text-small {
    font-size: 0.9rem !important;
}

body {
    min-height: 110vh;
    background-color: #4ca1af;
    background-image: linear-gradient(135deg, #4ca1af 0%, #c4e0e5 100%);

}
.containerra {
    background-image: url("house.jpg");
    background-size: 100%;
    height: 900px;
    background-position: center;
    filter:brightness(35%);
}

.hover-1 {
    width: 50%;
    text-align: center;
    height: 44px;
    line-height: 24px;
    font-weight: 400; 
    color: white;
    padding-top : 20px;
    padding-left : 20px;
    padding-right : 20px;
    padding-bottom: 10px;

  }
  .hover-1:hover{
    text-decoration:none; 
    cursor:pointer;  
    color: white;
  }
.hover-1:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
  }
.hover-1:hover:before {
    transform: scaleX(1);
  }
  a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;  
  }
  
a, a > span {
    position: relative;
    color: inherit;
    line-height: 24px;
  }
  body:after {
    content: '';
    clear: both;
  }
*{
    font-family: 'Poppins', sans-serif;
  }
  .textoBonito1{
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  .textoBonito2{
    position: absolute;
    top: 45%;
    left: 18%;
    transform: translate(-50%, -50%);
  }
  .textoBonito3{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .textoBonito1 h2{
    letter-spacing: 12px;
    font-size: 84px;
    position: relative;
    color: white;
  }
  .textoBonito2 h4{
    font-size: 22px;
    position: relative;
    text-align: justify;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
  /* BOTON CENTRAL */
  .btn-one a {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
  }
  .btn-one span {
    transition: all 0.3s;
    color: white;
  }

  .btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    transform: scale(0.1, 1);
  }
  .btn-one:hover span {
    letter-spacing: 2px;
    color: white;
  }
  .btn-one:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
  }
  .btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(85,85,85,0.3);
  }
  .btn-one:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
  }

  
  